<!DOCTYPE html>
<html lang="en">
    <head>
        <nav> 
            <a href="{{ url_for('get_notes') }}"> My Tasks </a> ||
            <a href="{{ url_for('index') }}"> Home </a> ||
            <a href="{{ url_for('new_note') }}"> Add Task </a>
        </nav>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TaskMaster">
        <title>TaskMaster - View Your Tasks</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>Hello {{user.name}}, to TaskMaster!</h1>
        <h1>Task Details</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.text }}</td>
                <td>{{ note.date }}</td>
            </tr>
        </table>
    </body>
</html>