<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="UNCC Notes App" />
    <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'quote_generator.js') }}" ></script>
    <title>TaskMaster</title>
    <!-- styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  
  <body>
    <header id="navbar">
      <nav>
        <a href="{{ url_for('index')}}"> Home</a>
        <a href="{{ url_for('get_notes') }}">Current Tasks</a>
        <a href="{{ url_for('new_note') }}">Create Tasks</a>
        <a href="{{ url_for('form') }}">Bug Report</a>
        <a href="{{ url_for('get_users') }}">Users</a>
      </nav>

      {% if user %}
      <nav>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
         
      </nav>
      {% else %}
      <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      </nav>
      {% endif %}
    </header>
    
    <section id="content">
      <br> 

      <h1>Welcome to the Task Manager App {{user}}!</h1>

      <h2>The Lightweight Task-Tracking Software!</h2>

      <div class="form">

        <p>
          <input class="button" type="button" onclick="quoteGenerator();"
              value="Click me for an inspirational quote!">
        </p>
        <p id="quoteOutput"></p>

      </div>
      <br>

      <h1><nav><a href="/notes"> Tasks </a></nav></h1>

      <img src="https://th.bing.com/th/id/OIP.7wZ_d306SYR5Mn4rDO3QQQHaHa?pid=ImgDet&rs=1" class="photo" alt="task icon">

</section>
  </body>
</html>
