<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
    <body>
        <header id="navbar">
            <nav>
              <a href="{{ url_for('index')}}"> Home</a>
              <a href="{{ url_for('get_notes') }}">Current Tasks</a>
              <a href="{{ url_for('new_note') }}">Create Task</a>
              <a href="{{ url_for('form') }}">Bug Report</a>
            </nav>
      
            {% if user %}
            <nav>
              <a href="{{ url_for('logout') }}">Logout</a>
              <a href="{{ url_for('profile') }}">Profile</a> 
            </nav>
            {% else %}
            <nav>
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('register') }}">Register</a>
            </nav>
            {% endif %}
        </header>

        <section id="content">
            <br>
        
            <h1>Welcome {{user}} to TaskMaster!</h1>

            <h2>The Lightweight Task-Tracking Software!</h2>
            <div class="formwrapper">
                <h2 class="title">Login</h2>
                <form method="POST" action="/login">
                    <div class="form-field">{{ form.email.label }} {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field">{{ form.password.label }} {{ form.password }}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ form.submit }}
                </form>
            </div>
        </section>
    </body>
</html>