<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="UNCC Notes App" />
    <title>TaskMaster - View your Note</title>
    <!-- styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header id="navbar">
      <nav>
        <a href="{{ url_for('index')}}"> Home</a> 
        <a href="{{ url_for('get_notes') }}">Current Tasks</a> 
        <a href="{{ url_for('new_note') }}">Create Task</a>
        <a href="{{ url_for('form') }}">Bug Report</a>
        <a href="{{ url_for('get_users') }}">Users</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
         
    </nav>
  </header>

    <section id="content">
      <br>

      <h1>Welcome to the Task Manager App {{user}}!</h1>

        <h1>Task Run Down</h1>

        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.text }}</td>
            <td>{{ note.date }}</td>
          </tr>
        </table>

        {% if note.comments %} {% if note.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
          {% for comment in note.comments %}
          <li>{{ comment.content }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endif %}
        <form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
          <div class="formwrapper">
            <h2 class="title">Add a comment</h2>
            <div class="form-field">
              {{ form.comment.label }} <br />
              {{ form.comment }}
            </div>
            {{ form.submit }}
          </div>
        </form>
    </section>
  </body>
</html>
