<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="UNCC Notes App" />
    <title>TaskMaster - Profile</title>
    <!-- styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  
  <body>
    <header id="navbar">
      <nav>
        <a href="{{ url_for('index')}}"> Home</a>
        <a href="{{ url_for('get_notes') }}">Current Tasks</a>
        <a href="{{ url_for('new_note') }}">Create Tasks</a>
        <a href="{{ url_for('form') }}">Bug Report</a>
        <a href="{{ url_for('get_users') }}">Users</a>
      </nav>

      {% if user %}
      <nav>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
      {% else %}
      <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      </nav>
      {% endif %}
    </header>

    <br>
    <br> 
    <br>
    <br>

    <h1>This is your profile information </h1>

    <section class="form">
        <br> 
        
        <h3>First Name: {{ user }}</h3>
        <h3>Last Name: {{ last }}</h3>
        <h3>Email Address: {{ email }} </h3>
    </section>
</body>
</html>